input[type=text]
  {
    min-width : 60%;
	max-width : 70%;
	min-width : 60%;
	max-width : 70%;
  }
 body{
	background-color: green;
	margin-right: 5em;
    margin-left: 5em;
    -webkit-overflow-scrolling:touch;
		text-align: center;
		font-family: 'Oswald';
 }
h1{
	color:white;
	font-size: 5em;

}

p {
	padding: 1em;
}
label{
	color:white;
}
h2{
	color: white;
	font-size:2em;
}
.form {
	margin : 4em;
	padding : 2em;
	border: 0.5em solid yellow;	
	border: 5px 10px;
}  
label{
	font-size: 1em;
}

